.server-message {
  @include flexbox(row, center, center);
  height: 100px;
  width: 400px;
  margin: 50px auto;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;

  &__game-starting {
    background-color: #cc0;
  }

  &__stop {
    width: 100px;
    color: #fff;
    background-color: #b00;
  }

  &__go {
    width: 100px;
    color: #fff;
    background-color: #0b0;
    border-radius: 50px;
  }
}
